<div class="d-flex align-items-center justify-content-center" style="background-color: grey;">

</div>

 <h1>Welcome to Todo Application</h1>
 <p>A TodoApp is a simple yet essential tool for task management.
  It allows users to create, organize, and track their tasks or to-do items efficiently.
   Users can add tasks, set due dates, categorize them, and mark them as complete when finished.
    TodoApps are commonly used for personal productivity, project management, and team collaboration,
     providing a convenient way to stay organized and ensure that tasks are completed on time."
 </p>
</div>

